<% dgcc = (@juez.nil? || @juez[:posicion] == 3) %>
<% content_for(:delayedjs) do %>
	<script type="text/javascript" charset="utf-8" data-turbolinks-track="true">
			$(document).ready(function(){
					
					actualizaConteo = function(){
							$('.dibujos-calificados').each(function(){
									<% if dgcc %>
									$(this).html(($("#collapse-" + $(this).data('categoria') + " button[data-calificacion]").length)-($("#collapse-" + $(this).data('categoria') + " button[data-calificacion='1110']").length));
									<% else %>
									$(this).html(($("#collapse-" + $(this).data('categoria') + " button[data-calificacion]").length)-($("#collapse-" + $(this).data('categoria') + " button[data-calificacion='1']").length));
									<% end %>
							});
					};
					
					actualizaInfoModal = function(button){
							var id = button.data('id');
							var titulo = button.data('titulo');
							var tecnica = button.data('tecnica');
							var descripcion = button.data('descripcion');
							var compromiso = button.data('compromiso');
							var calificacion = button.data('calificacion');
              var calificacionCompleta = button.data('calificacion-completa');
              var promedio = button.data('promedio');
							var idAnterior = button.data('anterior');
							var idSiguiente = button.data('siguiente');
							var foto1 = "/media/ayv/"+ id +"/"+button.data('proceso');
							var foto2 = "/media/ayv/"+ id +"/"+button.data('terminado');
							
							var modal = $('#modalConcurso');
							
							modal.find('#modalConcursoTitle').html("<span class='badge badge-pill badge-secondary mt-1 mr-3 pull-left px-3 py-2'>" + id +"</span>" +
									"<p class='text-warning text-wrap text-center'>" +
									"<button class='btn btn-outline-warning btn-sm fa fa-arrow-left pull-left rounded-circle' data-toggle='tooltip' data-placement='bottom' title='Dibujo anterior' type='button' onclick='simulaClick("+ idAnterior +")'></button>" +
									titulo +
									"<button class='btn btn-outline-warning btn-sm fa fa-arrow-right pull-right rounded-circle' data-toggle='tooltip' data-placement='bottom' title='Dibujo siguiente' type='button' onclick='simulaClick("+ idSiguiente +")'></button>" +
									"</p>");
							
							modal.find('#modalConcursoBody').html("<div class='w-25 pull-left'>" +
									"<p class='small text-left'>" +
									"<b class='text-warning'>Dibujo en proceso:</b><br />" +
									"<a class='btn btn-link' href='"+ foto1 +"' target='_blank'><img class='img-fluid ' src='"+ foto1 +"'></a><br /><b class='text-warning'>Descripcion:</b><br />"+ descripcion +"</p>" +
									"<p class='small text-left'><b class='text-warning'>Técnica:</b><br />"+ tecnica +"</p>" +
									"<p class='small text-left'><b class='text-warning'>Compromiso:</b><br />"+ compromiso +"</p>" +
									"</div>" +
									"<div class='w-75 pull-left'>" +
									"<p><b class='text-warning'>Dibujo terminado:</b><br />" +
									"<a class='btn btn-link btn-block' href='"+ foto2 +"' target='_blank'><img class='img-fluid' src='"+ foto2 +"'></a></p>" +
									"</div>");
							
              modal.find('#modalConcursoFooter').html("<div class='input-group mb-3 h5'>" +
                  "<div class='input-group-prepend'>" +
                  "<label class='input-group-text' for='select-"+ id +"'>Lugar asignado: </label>" +
                  "</div>" +
                  "<select class='custom-select h-auto' id='select-" + id + "'>" +
                  "<option " + (calificacion == 0 && "selected") + ">Escoge...</option>" +
                  "<option " + (calificacion == 1 && "selected") + " value='1'>Primer lugar</option>" +
                  "<option " + (calificacion == 2 && "selected") + " value='2'>Segundo lugar</option>" +
                  "<option " + (calificacion == 3 && "selected") + " value='3'>Tercer lugar</option>" +
                  "</select>" +
                  "<div class='input-group-append'>" +
                  "<button type='button' id='confirma-"+ id +"' class='btn btn-success btn-calificar'>Confirmar</button>" +
                  "</div>" +
                  "</div>" +
                  "<p>Promedio: <span id='promedio-"+ id +"' class='badge badge-light badge-pill mr-3'>"+ promedio +"</span></p>");

					};
					simulaClick = function(id){
							if(id==undefined) return;
							actualizaInfoModal($("#boton-"+ id));
					};
					
					$('#modalConcurso').on('click', '.btn-calificar', function(){
							calificaBtn = $(this);
							calificaBtnId = calificaBtn.attr('id').replace('confirma-','');
							popoverBtn = $('#boton-' + calificaBtnId);
							newCal = $('#select-'+calificaBtnId).val();
							
							
							if( newCal == popoverBtn.data('calificacion')){
									calificaBtn.html('La calificación no cambio, intenta otro valor');
							}else{
									$.ajax({
											type:"PUT",
											url:"/calificaciones/"+calificaBtnId,
											data:{
													calificacion: {
															calificacion: newCal
													}
											},
											success: function(datos){ //success es una funcion que se utiliza si el servidor retorna informacion
													calificaBtn.html(newCal + ' confirmado').toggleClass('btn-success btn-secondary disabled');
													popoverBtn.data('calificacion', newCal).attr('data-calificacion', newCal);
													$('.lugar > b').html(newCal);
													//actualizaConteo();
											},
											dataType: 'json' // El tipo de datos esperados del servidor. Valor predeterminado: Intelligent Guess (xml, json, script, text, html).
									});
							}
					});
					
					$('.dibujos-popover').popover({
							html: true,
							boundary: 'window',
							trigger: 'hover',
							placement: 'right',
							title: function(){
									var button = $(this);
									return button.data('id')+": "+button.data('titulo');
							},
							content: function(){
									var button = $(this);
									var foto = "/media/ayv/"+button.data('id')+"/"+button.data('terminado');
									return "<img class='img-fluid' src='"+foto+"'>"
							}
					});
					
					$('#modalConcurso').on('show.bs.modal', function (event) {
							actualizaInfoModal($(event.relatedTarget)); // Actualizar Modal con Button that triggered the modal :p
					});
					
					$('#modalConcurso').on('click', "input[type='range']", function(){
							var range = $(this);
							$(range.attr('id').replace('range','#calificacion')).html(range.val());
					});
					//actualizaConteo();
			});
	</script>
<% end %>

<% content_for(:delayedcss) do %>
	<style type="text/css" data-turbolinks-track="true">
		.dibujos-popover{
			color: #28a745;
			border-color: #28a745;
		}
    .dibujos-popover[data-calificacion="0"]{
			color: #ffc107;
			border-color: #ffc107;
		}
    .dibujos-popover[data-calificacion="0"] ~ p.lugar{
      visibility: hidden;
    }
		.dibujos-popover[data-calificacion="0"] .fa{
			visibility: hidden;
		}
		#acordeon-categorias .row:hover{
			background-color: #666666!important;
		}
	
	</style>
<% end %>

<div class="row mt-5 pt-4">
	<div class="col-12 mb-3">
		<ul class="list-group list-group-flush text-dark">
			<li class="active list-group-item list-group-item-info font-weight-bolder h4">Instrucciones: <small>(Actualizadas al 30-04-2022)</small></li>
			<li class="list-group-item small">El listado de dibujos por categoría esta ordenado de mayor a menor de acuerdo al promedio.</li>
			<li class="list-group-item small">Se muestran los primeros 6 lugares apra poder decidir en caso de multiple empate</li>
      <li class="list-group-item small">Dar click en el botón de datos para ver el resto de información, técnica, compromiso, etc.</li>
      <li class="list-group-item small">Dentro del modal, anotar EL LUGAR que se desea establecer como definitivo.</li>
      <li class="list-group-item small">Es todo.</li>
    </ul>
	</div>
	<%= render partial: "entre_azul_y_verde/panel/tabla_desempate", locals: {dgcc: dgcc} %>
</div>

<%= render :partial => "entre_azul_y_verde/shared/modal" %>
