<div class="col-12 col-md-8 py-4 text-center">
	<p><strong>ATENCIÓN</strong> si vives en México y tienes entre 6 y 17 años, o si eres mexicano, pero vives en otro país, puedes participar en las siguientes <strong>categorías</strong>:</p>
	<h3><i class="fa fa-caret-right"></i> <span  class="pleca_ama">Niños de 6 a 8 años</span></h3>
	<h3><i class="fa fa-caret-right"></i> <span  class="pleca_ama">Niños de 9 a 11 años</span></h3>
	<h3><i class="fa fa-caret-right"></i> <span  class="pleca_ama">Niños de 12 a 14 años</span></h3>
	<h3><i class="fa fa-caret-right"></i> <span  class="pleca_ama">Niños de 15 a 17 años</span></h3>
	<h4>Premios</h4>
	<p>Para cada categoría de edad</p>
	<table class="tabla-premios-adulto" width="100%" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td valign="bottom"><img src="/concursos_assets/entre_azul_y_verde/bases-06.png">
				<table width="100%" border="3" cellpadding="0" cellspacing="0" style="border-color:#ffd400; border-style:solid; border-right-width:0">
					<tr>
						<td bgcolor="#477074" style="padding:10px 0;">Materiales para artista de naturaleza, (colores, pinturas y 2 colecciones de 6 libros.)</td>
					</tr>
				</table>
			</td>
			<td valign="bottom"><img src="/concursos_assets/entre_azul_y_verde/bases-07.png">
				<table width="100%" border="3" cellpadding="0" cellspacing="0" style="border-color:#ffd400; border-style:solid;">
					<tr>
						<td bgcolor="#477074" style="padding:15px 0;">Materiales para artista de naturaleza (colores, pinturas y 3 series de 6 libros)</td>
					</tr>
				</table>
			</td>
			<td valign="bottom"><img src="/concursos_assets/entre_azul_y_verde/bases-08.png">
				<table width="100%" border="3" cellpadding="0" cellspacing="0" style="border-color:#ffd400; border-style:solid; border-left-width:0">
					<tr>
						<td bgcolor="#477074" style="padding:5px 0;" >Materiales para artista de naturaleza (colores, pinturas y 1 serie de 6 libros)</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<p>Además, será seleccionada la mejor ilustración de cada estado. Las 12 ilustraciones ganadoras más las 32 seleccionadas de los estados formarán parte de la exposición digital <span style="color:#FFCA84;">“Entre azul y verde: Somos parte de la solución”</span>, que podrás ver en las páginas de internet: <a href="http://www.paismaravillas.mx/" target="_blank">México, país de las maravillas</a>. Así como en el Museo de Historia Natural y Cultura Ambiental de la Ciudad de México que se inaugurará en Julio del 2022.</p>
	
	<h2 style="color:#FFCA84;">¿Quieres participar? Es muy sencillo, sigue estos 5 pasos: </h2>
</div>
<div class="col-12 col-md-8 py-4 text-center">
	<img src="/concursos_assets/entre_azul_y_verde/pasos1.png">
	<h3><a href="https://www.biodiversidad.gob.mx/biodiversidad/que_hacer" target="_blank">¿Qué puedo hacer?</a></h3>
	<p class="text-left">Muchas personas consideran que no tienen responsabilidad sobre el deterioro del ambiente (contaminación, pérdida de ecosistemas y de especies). Sin embargo, todos contribuimos y todos podemos contribuir a su restauración.</p>
	<p class="text-left">Piensa en tus actividades diarias y cómo puedes reducir tu impacto o “huella ecológica”. Millones de mexicanos podemos hacer la diferencia si cada uno somos conscientes de nuestras decisiones y acciones para vivir en armonía con la naturaleza. Por ejemplo, puedes empezar ahorrando agua cuando te bañas, alimentándote de productos sanos para ti y para el ambiente. La comida chatarra además de que no es buena para tu salud tiene un impacto muy grande por su proceso, empaque, transporte,  refrigeración, etc.</p>
</div>
<div class="col-12 col-md-8 py-4 text-center">
	<img src="/concursos_assets/entre_azul_y_verde/pasos2.png">
	<h3>¿Cómo ser un consumidor responsable?</h3>
	<p class="text-left">Los consumidores podemos reducir nuestro impacto en el ambiente seleccionando responsablemente los productos alimenticios que compramos. La producción de alimentos, verduras, frutas, derivados de animales (carne, leche, huevos) y la pesca de productos marinos tiene serias consecuencias ambientales. El uso desmedido de agroquímicos e insecticidas en la agricultura, la producción confinada, el uso de anabólicos en el ganado,  la sobrepesca  y contaminación en el mar son algunas de las amenazas a nuestra salud y a la de los ecosistemas naturales.</p>
	<p class="text-left">Existen alternativas de producción que resultan en alimentos sanos y sustentables. Conócelas y apoya a los productores que hacen un esfuerzo por reducir su impacto en la naturaleza y proteger nuestra salud.</p>
	<p class="text-left">Estos <a href="https://www.youtube.com/watch?v=MHO3oUExoGE&list=PLLAcoRHqCmNSRYOrx-s0B_5t0Qc99SIoT" target="_blank">10 videos</a> te pueden dar algunas ideas.</p>
	<h3>¿Por qué es importante conservar y cuidar nuestra naturaleza?</h3>
	<p class="text-left">Hay muchas razones. <a href="https://www.biodiversidad.gob.mx/biodiversidad/porque_conserva" target="_blank">Revisa algunas. ¿Cuál te convence más?</a></p>
</div>
<div class="col-12 col-md-8 py-4 text-center">
	<img src="/concursos_assets/entre_azul_y_verde/pasos3.png">
	<h3>¿Qué propones?</h3>
	<p class="text-left">Cuéntanos en un dibujo o pintura tu propuesta:</p>
	<ul class="text-left">
		<li>¿Qué hábitos cambiarías tú, tu familia, en tu escuela y en tu comunidad?</li>
		<li>¿Cómo podrían reducir tu “huella ecológica”?</li>
		<li>¿Consumen productos que vienen directo de tu comunidad?</li>
		<li>¡Promueve el turismo de naturaleza de tu localidad!</li>
		<li>Dibuja tu parque o lugar natural favorito y cuéntanos cómo puedes ayudar a su conservación</li>
		<li>Cuéntanos de las prácticas sostenibles de <a href="https://www.biodiversidad.gob.mx/diversidad/alimentos/consumidor-responsable" target="_blank">agricultura, ganadería y pesca</a> del lugar en el que vives. ¿Conoces la situación de <a href="https://www.biodiversidad.gob.mx/diversidad/alimentos/peces/" target="_blank">peces y mariscos</a> y consume las opciones sostenibles?</li>
		<li>¿Conoces la naturaleza que te rodea? Muéstranos las especies de tu <a href="https://enciclovida.mx/explora-por-region?utf8=%E2%9C%93&pagina=1#5/25.026/-92.175" target="_blank">municipio y de las áreas protegidas</a></li>
		<li>¡Ayuda a los <a href="http://www.paismaravillas.mx/polinizadores/" target="_blank">polinizadores</a>! ¿Cómo crearías tu jardín para los polinizadores?</li>
		<li>¿Sabía que puedes participar en actividades en <a href="https://www.biodiversidad.gob.mx/cienciaciudadana/" target="_blank">ciencia ciudadana</a>? Organízate con tus amigas y amigos, y cuéntanos tus ideas.</li>
	</ul>
	<p class="text-left">¡Recuerda! Todos <strong>Somos parte de la solución</strong> para reducir el impacto ambiental y vivir en armonía con la naturaleza.</p>
</div>
<div class="col-12 col-md-8 py-4 text-center">
	<img src="/concursos_assets/entre_azul_y_verde/pasos4.png">
	<h3>Requisitos del dibujo o pintura</h3>
	<p class="text-left">Debes elaborar tu dibujo o pintura de los siguientes tamaños:</p>
	<ul class="text-left">
		<li>Tamaño doble carta. Dimensiones en centímetros: 28 cm x 43cm</li>
		<li>Tamaño carta. Dimensiones en centímetros: 28 cm x 21.5cm</li>
		<li>Elige una técnica de entre las siguientes opciones: lápices de color, crayolas, acuarela, óleo, acrílicos, tinta china, "collage", gises, plumones o mixta.</li>
	</ul>
</div>
<div class="col-12 col-md-8 py-4 text-center">
	<img src="/concursos_assets/entre_azul_y_verde/pasos5.png">
	<h3>Envía las fotos (2) y tus datos</h3>
	<p class="text-left">Toma dos fotos</p>
	<ol type="1" class="text-left">
		<li>Primera foto: Foto al iniciar con los primeros trazos.</li>
		<li>Segunda foto: Foto al finalizar tu obra de arte.</li>
	</ol>
	<p class="text-left">Las fotos no deben incluir marcas de agua, ni alteraciones digitales.</p>
	<p class="text-left">Envía las dos fotos digitalmente. ¡Es muy sencillo! <%# link_to 'Regístrate aquí', new_user_ayv_registration_path, class: 'btn btn-info' %></p>
	<p>Recepción de trabajos del 5 de noviembre del 2021 al 28 de febrero de 2022, después de esta fecha no se recibirán más trabajos y la plataforma quedará cerrada. La plataforma a donde puedes enviar tu dibujo es Entre Azul y Verde <a href='https://www.entreazulyverde.mx' class="btn btn-link">www.entreazulyverde.mx</a></p>
</div>
1
