<div class="col-12 col-md-8 py-4 text-center">
	<p>
		La salud de los seres humanos depende de la salud del planeta. Muchas personas consideran que no tienen responsabilidad sobre el impacto a la naturaleza, sin embargo, todos contribuimos pero también todos podemos ser parte de la solución.
	</p>
	<p>
		Llevamos más de un año sufriendo las consecuencias de la pandemia, encerrados, sin socializar con la familia, los amigos y con la naturaleza. Nosotros mismos causamos el deterioro del ambiente mediante nuestro consumo y desperdicio. Piensa en tus actividades diarias <a href="https://www.biodiversidad.gob.mx/biodiversidad/que_hacer" style="color: #80c6ca" target="_blank">¿qué podemos hacer para mejorar el ambiente?</a>
	</p>
	<div class="embed-responsive embed-responsive-16by9">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/cKe8cbsJcE4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>	</div>
	<h2>OBJETIVO</h2>
	<p>Que los niños y jóvenes, mediante una pintura o dibujo, expresen sus ideas sobre cómo todos podemos contribuir a vivir en armonía con la naturaleza.</p>
	<h2>FECHA</h2>
	<p style="color: #ffc107">Convocatoria abierta a partir del 5 de noviembre del 2021</p>
	<p style="color: #ffc107">Cierre 28 de febrero de 2022</p>
	<p style="color: #ffc107">Anuncio de ganadores y menciones honoríficas 30 de abril de 2022</p>
	<p style="color: #ffc107">Premiación segunda quincena de mayo del 2022</p>
	<%# link_to 'Regístrate aquí', new_user_ayv_registration_path, class: 'btn btn-info'  %>
</div>
