<div class="col-12 col-md-8 py-4 text-center mt-5 mb-5">
	<div class="row no-gutters">
		<p>Las mejores fotografías de la categoría de adultos y jóvenes formarán parte de la exposición <strong>"Visiones de nuestra naturaleza VI"</strong> a exponerse en la rejas de Av. Reforma en el Bosque de Chapultepec, Ciudad de México del <strong>4 de julio al 22 de septiembre del 2022</strong>.</p>
		<div class="col-12 col-md-4 px-2 border-bottom">
			<a class="h3" href="http://bioteca.biodiversidad.gob.mx/janium/Galerias/7796/index.html" target="_blank">"Visiones de nuestra naturaleza I"</a>
			<p>Finalistas del primer concurso (2015)</p>
		</div>
		<div class="col-12 col-md-4 px-2 border-bottom">
			<a class="h3" href="http://bioteca.biodiversidad.gob.mx/janium/Galerias/12546/index.html" target="_blank">"Visiones de nuestra naturaleza II"</a>
			<p>Finalistas del segundo concurso (2016)</p>
		</div>
		<div class="col-12 col-md-4 px-2 border-bottom">
			<a class="h3" href="http://bioteca.biodiversidad.gob.mx/janium/Galerias/13010/index.html" target="_blank">"Visiones de nuestra naturaleza III"</a>
			<p>Finalistas del tercer concurso (2017)</p>
		</div>
		<div class="col-12 col-md-4 px-2 border-bottom">
			<a class="h3" href="http://bioteca.biodiversidad.gob.mx/janium/Galerias/14172/index.html" target="_blank">"Visiones de nuestra naturaleza IV"</a>
			<p>Finalistas del cuarto concurso (2018)</p>
		</div>
		<div class="col-12 col-md-4 px-2 border-bottom">
			<a class="h3" href="http://bioteca.biodiversidad.gob.mx/janium/Galerias/14865/index.html" target="_blank">"Visiones de nuestra naturaleza V"</a>
			<p>Finalistas del quinto concurso (2019)</p>
		</div>
		<div class="col-12 col-md-4 px-2 border-bottom">
			<a class="h3" href="http://bdi.conabio.gob.mx/fotoweb/archives/5032-Exposiciones/Exposiciones/25%20Miradas%20al%20Bosque/" target="_blank">"25 Miradas al Bosque"</a>
			<p>ANTERIORES</p>
		</div>
		<div class="col-12 col-md-4 px-2 border-bottom">
			<a class="h3" href="http://bioteca.biodiversidad.gob.mx/janium/Galerias/15237/index.html" target="_blank">"Visiones de nuestra naturaleza: 5 años de naturaleza y arte"</a>
			<p>Recopilación de las mejores fotografías que han participado en el concurso durante 2015-2019</p>
		</div>
		<div class="col-12 col-md-4 px-2 border-bottom">
			<a class="h3" href="https://bioteca.biodiversidad.gob.mx/janium/Galerias/16122/index.html" target="_blank">"Visiones de nuestra naturaleza VI"</a>
			<p>Finalistas del sexto concurso (2022)</p>
		</div>
	</div>
</div>