<div class="container">
	<div class="row">
		<div class="col-12 col-md-6 py-4 text-left">
			<p><img id="imgmosaicosomos" src="/concursos_assets/mosaico_natura/logo-mosaiconaturav_gris.png" alt="Mosaico Natura" title="Mosaico Natura" class="img-fluid"> Tiene como objetivos: ser una ventana para dar a conocer la riqueza natural de México a través de la fotografía y ser un sitio de promoción para fotógrafos de naturaleza mexicana. Esta iniciativa comenzó en <strong>2010</strong>.</p>
			<p>Si te interesa difundir tu trabajo como fotógrafo de naturaleza, inscríbete al concurso y envía tus mejores fotos. Los ganadores participarán en exposiciones fotográficas y publicaciones en diversas plataformas impresas y digitales.</p>
			
			<p>Adicionalmente y previa selección,  las fotografías serán integradas al Banco de Imágenes de la <span class="conabio">Conabio</span> en donde estarán a disposición del público en general en baja resolución, para uso no comercial, con el requisito de incluir el crédito del autor y de la <span class="conabio">Conabio</span>. En caso de que  se requiera la fotografía en alta resolución, se deberá hacer una solicitud a la <span class="conabio">Conabio</span> bajo las condiciones establecidas en el Banco de Imágenes.</p>
			<!--	<p><strong><a href="/ganadores">Conoce a nuestros ganadores del a&ntilde;o pasado</a></strong></p> -->
		
		</div>
		<div class="col-12 col-md-6 py-4 mt-5">
			<div class="embed-responsive embed-responsive-16by9">
				<iframe src="https://player.vimeo.com/video/644119558?h=d66f8df6f0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
			</div>
			<p><a href="https://vimeo.com/644119558">MNM6_C1</a> from <a href="https://vimeo.com/conabio">CONABIO</a> on Vimeo.</p>
				<div class="embed-responsive embed-responsive-16by9">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/L8V1_EU5C64" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>


