<div id="intro" class="row justify-content-center">
	<div class="col-12 col-md-12 col-lg-12 pt-5 my-2 text-center">
		<img src="/concursos_assets/mosaico_natura/PortadaWeb6to.jpg" alt="Mosaico Natura" title="Mosaico Natura" class="img-fluid">
	</div>
</div>

<div id="quienesSomos" class="row justify-content-center">
	<div class="col-12 text-center sub-header">
		<h1 class="mt-5 text-white">¿QUIÉNES SOMOS?</h1>
	</div>
	<%= render :partial => 'quienesSomos' %>
</div>

<div id="concurso" class="row justify-content-center">
	<div class="col-12 text-center sub-header">
	<h1 class="mt-5 text-white">CONVOCATORIA 2025</h1>
	</div>
	<%= render :partial => 'concurso' %>
</div> 

<div id="exposiciones" class="row justify-content-center">
	<div class="col-12 text-center sub-header">
		<h1 class="mt-5 text-white">EXPOSICIONES Y PUBLICACIONES</h1>
	</div>
	<%= render :partial => 'exposiciones' %>
</div>

<div id="medios" class="row justify-content-center">
	<div class="col-12 text-center sub-header">
		<h1 class="mt-5 text-white">MEDIOS</h1>
	</div>
	<%= render :partial => 'medios' %>
</div>

<div id="colaboradores" class="row justify-content-center">
	<div class="col-12 text-center bg-white pt-5 my-5 sub-header">
	<img src="/concursos_assets/mosaico_natura/colaboradoresplecaLogos.jpg" alt="colaboradores Mosaico Natura" title="colaboradores Mosaico Natura" class="img-fluid">	
	</div>
</div>
