<div id="terminos-condiciones" class="row justify-content-center">
	<div class="col-12 text-center sub-header">
		<h1 class="mt-5 text-white">TÉRMINOS Y CONDICIONES</h1>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-12 py-4 text-left">
				<h3>Bases para el Concurso Nacional de Fotografía de Naturaleza</h3>
				<p>La Comisión Nacional para el Conocimiento y Uso de la Biodiversidad (<span class="conabio">CONABIO</span>) y la Secretaría de Medio Ambiente de la Ciudad de México convocan al “<b>6o. Concurso Nacional de Fotografía de la Naturaleza</b>” en el cual podrán participar todas las personas, nacionales o extranjeras radicadas en México.</p>
				<p>La(s) fotografía(s) debe(n) representar la <b>riqueza natural en México</b>, es decir, especies de plantas, hongos y animales nativos del país en vida silvestre, así como ecosistemas, usos de la biodiversidad, y/o actividades humanas que tengan un impacto en la naturaleza.</p>
				<h4>QUIÉNES PUEDEN PARTICIPAR</h4>
				<p>El concurso está abierto a aficionados o profesionales de la fotografía, mexicanos y extranjeros que radiquen en México.</p>
				<h4>CATEGORÍAS Y TEMAS</h4>
				<h5><b>Adultos (8 temas)</b></h5>
				<p>De 18 años en adelante. Cada participante puede enviar hasta 2 fotografías por cada tema y un cineminuto.</p>
				<p><span><b>Pequeños gigantes (macro)</b></span>: Fotografías macro de especies o detalles que comúnmente no son percibidos a simple vista. Incluyen imágenes tomadas con microscopio.</p>
				<p><span><b>Fauna</b></span>: Incluye animales nativos de México en vida silvestre; desde pequeños insectos hasta grandes mamíferos, siempre que éstos, no estén en cautiverio o sean animales domésticos y/o mascotas.</p>
				<p><span><b>Plantas y hongos</b></span>: Incluye toda clase de especies vegetales y hongos nativos de México, en vida silvestre. No se aceptarán fotografías de plantas cultivadas, de maceta o jardín.</p>
				<p><span><b>Naturaleza y ser humano</b></span>: Refiere a usos y costumbres relacionadas con el entorno natural (actividades agrícolas, artesanales, gastronómicas, medicinales, espirituales, recreativas, ceremoniales), manejo sustentable, conservación y/o restauración, también se considera en esta categoría, actividades que impacten de manera negativa, directa o indirectamente la biodiversidad.</p>
				<p><span><b>Paisajes con ecosistemas</b></span>: Vistas aéreas y terrestres de ecosistemas no perturbados de México, desde las costas hasta las altas montañas.</p>
				<p><span><b>Fotografía aérea</b></span>: Imágenes de animales, plantas, ecosistemas o paisajes desde el aire.</p>
				<p><span><b>Fotografía subacuática</b></span>:  Imágenes de animales, plantas o hábitats subacuáticos, ya sea en un entorno marino o dulceacuícola. No se aceptarán fotografías de acuario.</p>
				<p><span><b>Cineminuto (Video)</b></span>: Breves historias de nuestra naturaleza, su uso, conservación o deterioro.</p>
				<h5><b>Jóvenes menores</b></h5>
				<p>Hasta 17 años al cierre del concurso. Cada participante puede enviar hasta 3 fotografías.</p>
				<p><b>Tema libre</b>:  Incluye cualquier fotografía relacionada con la riqueza natural de México, es decir, animales o plantas en su ambiente natural, paisajes naturales, actividades relacionadas con el hombre y la naturaleza. No se aceptarán fotografías de plantas cultivadas, animales en cautiverio o cualquier otro ambiente controlado.</p>
				<h4>CARACTERÍSTICAS DE LAS FOTOGRAFÍAS</h4>
				<p>Las fotografías deben de haber sido tomadas en alta resolución: 3,500 pixeles como mínimo en el lado más largo en formato jpg y una densidad de pixeles de 300 dpi.</p>
				<p>Los participantes podrán utilizar ajustes generales (exposición, saturación, contraste, etcétera). <b>No se aceptarán fotografías que hayan sido manipuladas digitalmente eliminando partes de la imagen o sustituirlas con otros elementos diferentes a la imagen original.</b></p>
				<p>Las fotografías participantes deberán cumplir con lo siguiente:</p>
				<p>Ser inéditas y originales:</p>
				<ul>
					<li>No haber participado en concursos similares</li>
					<li>No haber ganado en otro concurso</li>
					<li>No haber sido expuestas en exposiciones públicas o privadas</li>
					<li>No tener una temporalidad mayor a dos años</li>
					<li>No haber sido utilizadas con fines comerciales</li>
					<li>No tener firma, sello o alguna otra marca de identificación</li>
				</ul>
				<h4>CARACTERÍSTICAS DEL CINEMINUTO</h4>
				<p>Todo el material del cineminuto deberá de ser de la completa autoría del participante.</p>
				<p>La musicalización deberá de ser original o en su defecto incluir música sin derechos de autor.</p>
				<p>La duración máxima será de 1 minuto.</p>
				<p>El jurado evaluará de los videos participantes:</p>
				<ul>
					<li>Contenido</li>
					<li>Edición</li>
					<li>Claridad en la propuesta</li>
					<li>Calidad del video</li>
					<li>Originalidad</li>
					<li>Duración</li>
					<li>Ser inéditos</li>
					<li>Material grabado máximo desde el 2020 a la fecha</li>
				</ul>
				<p>Características del video:</p>
				<ul>
					<li>Formato: .mp4 (H264)</li>
					<li>Bitrate mínimo de 10mbps</li>
					<li>Aspecto: pixeles cuadrados</li>
					<li>Tamaño pixeles: FullHD: 1920 x 1080</li>
					<li>Cuadros por segundo: 24fps, 29.97fps, 30fps</li>
					<li>Orden de campos: progresivo</li>
					<li>Audio: códec:  AAC</li>
					<li>Velocidad de muestreo: 48000Hz</li>
					<li>Canales: Estéreo</li>
					<li>Velocidad: 320 Kbps</li>
				</ul>
				<p>En caso de no cumplir con las características mencionadas, el video podría ser descalificado.</p>
				<h4>VIGENCIA DEL CONCURSO Y FECHAS IMPORTANTES</h4>
				<p>El registro y carga de material de este concurso está disponible a partir del 15 de noviembre del 2021.</p>
				<p>El registro y carga de material de este concurso <b>finalizará el 30 de abril de 2022</b> a las 23:00 h., que será la fecha y hora límite para registrar la(s) fotografía(s).</p> 
				<p><b>Nota</b>: Con el propósito de promover nuevos valores, <b>ningún participante podrá ganar en certámenes consecutivos Mosaico Natura México</b>, por lo que los ganadores del certamen anterior (Mosaico Natura México V - 2019) no podrán participar en este. Su participación se aceptará nuevamente en el próximo concurso.</p>
				<!--<ul>
					<li>Resultados de la selección de finalistas: 16 de febrero de 2022</li>
					<li>Exposición de finalistas: 3 de marzo a 31 mayo de 2022</li>
					<li>Anuncio de ganadores:   24 de marzo de 2022</li> 
				</ul> -->
				<h4>¿CÓMO PARTICIPAR?</h4>
				<p>Antes de registrarse, el participante deberá de haber leído, entendido y aceptado las Bases del Concurso.</p>
				<p>El registro oficial de participación y el envío del material se realizará en línea a través del sitio <a href="https://mosaiconatura.net">mosaiconatura.net</a>.</p>
				<p>Para esta edición del concurso, todos los participantes deberan crear una cuenta nueva</p>
				<p>Únicamente se aceptará el envío electrónico de fotografías en formato jpg, con dimensiones mínimas de 3,500 pixeles del lado más largo de la imagen y una resolución de 300 DPI´s (pixeles por pulgada).</p>
				<p>Las fotografías y videos concursantes únicamente se aceptarán por vía electrónica.</p>
				<p>Únicamente se aceptará el envío electrónico de videos en formato mp4, con dimensiones mínimas FUllHD: 1920 x 1080</p>
				<p>Se solicita a todos los concursantes conservar el archivo original, ya que en caso de resultar ganador(a) de algún premio o de ser finalistas, el “Comité Organizador” podrá solicitar dichos archivos.</p>
				<p>Ningún participante podrá obtener más de un premio por concurso por lo que si en la sumatoria de los jueces, un solo participante tiene dos o más premios, solo se tomará en cuenta el mayor de ellos.</p>
				<p>Al momento de registrarse, el participante da al “Comité Organizador”:</p>
				<ul>
					<li>Su conformidad y aceptación de los términos y condiciones de las Bases.</li>
					<li>Su conformidad y aceptación para que el jurado determine y resuelva de forma unilateral e inapelable aquellas disposiciones contempladas y no contempladas en las presentes Bases.</li>
					<li>Su aceptación a la decisión del jurado, la cual es inapelable.</li>
					<li>Su conformidad y aceptación para recibir por cualquier medio, información relacionada con las actividades del concurso mencionado, pudiendo solicitar libremente el no envío de dicha información en cualquier momento.</li>
				</ul>
				<h4>RESPONSABILIDADES</h4>
				<p>Los participantes conservarán los derechos sobre sus fotografías y videos, pero al concursar, aceptan que la Comisión Nacional para el Conocimiento y Uso de la Biodiversidad (CONABIO), pueda hacer uso de las mismas de manera ilimitada para su utilización por sí o por terceros en México y otros países, para su reproducción, publicación, edición, comunicación pública, con fines promocionales o de difusión relacionados con el concurso o para fijarlas por medios impresos, digitales, electrónicos u otros, sin límite alguno, sin que se requiera notificar ni tampoco compensar al participante, en la consideración de que cada vez que se usen, deberá darse al suscrito el crédito correspondiente, desde el registro de sus materiales. Además de indicar que toda la información proporcionada será de confidencialidad únicamente para el personal autorizado a acceder a dicha información.</p>
				<p>Mosaico Natura México y <span class="conabio">CONABIO</span>, no se hacen responsables por denuncias de derechos de autor, siendo éstos, responsabilidad de cada participante.</p>
				<p><b>Categoría de Jóvenes</b></p>
				<p>Los menores deberán contar con el consentimiento de sus padres o tutores para poder participar en este concurso. Así mismo, las fotografías en esta categoría se sujetan a la concesión de derechos de uso no exclusivo de sus imágenes, mismas que la categoría de Adultos.</p>
				<h4>MOTIVOS DE DESCALIFICACIÓN</h4>
				<p>Los motivos de descalificación inmediata del participante son los siguientes:</p>
				<ul>
					<li>Fotografías y videos, en lo sucesivo denominado el “material”, que no cumplan con cualquiera de los requisitos de participación.</li>
					<li>Incurrir en cualquier conducta que implique maltrato a los sujetos de la fotografía o video</li>
					<li>Incurrir en descrédito, difamación o calumnias en contra del “Comité Organizador” o de los miembros del jurado de este concurso.</li>
					<li>Presentación de material ajeno a su autoría y que se demuestre que es creación de un tercero.</li>
					<li>No poder ceder los derechos de uso no exclusivo sobre el material.</li>
					<li>Fotografías y videos manipulados digitalmente quitando o añadiendo objetos ajenos a la imagen original por medio de algún programa para edición de imágenes.</li>
					<li>Fotografías y videos que hayan ganado otro concurso; que formen parte de cualquier otra colección pública o privada; o que hayan sido utilizada previamente con fines comerciales.</li>
				</ul>
				<p>El “Comité Organizador” puede solicitar el original de cualquiera de las obras fotográficas si así lo requiere o considera, de forma discrecional. El “Comité Organizador” determinará el plazo para la entrega de dicho original y lo hará del conocimiento del participante. En caso de no entregarlo, esto podrá ser motivo de descalificación.</p>
				<h4>CRITERIOS DE EVALUACIÓN POR PARTE DEL JURADO</h4>
				<ul>
					<li>Mérito artístico</li>
					<li>Originalidad</li>
					<li>Técnica</li>
					<li>Dificultad inherente a la especie o ecosistema</li>
				</ul>
				<p>De las fotografías recibidas, el jurado seleccionará las mejores 80 fotografías de la categoría de adultos y jóvenes para formar parte de la exposición "Visiones de nuestra naturaleza VI" a exponerse en la rejas de Av. Reforma en el Bosque de Chapultepec, Ciudad de México<!--, durante el periodo de marzo a mayo de 2022-->.</p>
				<h4>EL JURADO</h4>
				<ul>
					<li>El jurado estará integrado por profesionales en el campo de la fotografía.</li>
					<li>“El Comité Organizador” del concurso podrá hacer modificaciones en la selección de los miembros del jurado, sujeto a la disponibilidad de los mismos.</li>
					<li>El fallo del jurado será definitivo e inapelable.</li>
					<li>Cualquier imprevisto relacionado con las presentes Bases será resuelto a criterio del jurado y comité organizador</li>
					<li>El jurado podrá declarar desiertas las categorías y/o los temas del concurso si así lo considera conveniente.</li>
				</ul>
				<h4>ENTREGA DE LOS PREMIOS Y RECONOCIMIENTOS</h4>
				<p><!--Los premios se entregarán en el mes de marzo de 2022.-->Para la entrega de los premios, la fecha, lugar y hora exacta serán informados oportunamente por el “Comité Organizador” en <a href="https://mosaiconatura.net">www.mosaiconatura.net</a>.</p>
				<p><b>Requisitos</b></p>
				<p>Para la entrega de premios y reconocimientos, los participantes deberán presentar los siguientes documentos:</p>
				<ul>
					<li>Original y copia de una identificación oficial vigente con fotografía y firma.</li>
					<li>Original y copia de una credencial que acredite al menor (credencial escolar).</li>
					<li>Original y copia de identificación oficial vigente del padre o tutor.</li>
				</ul>
				<h4>LOS PREMIOS Y RECONOCIMIENTOS</h4>
				<div class="card-group text-center mt-4">
					<div class="card bg-light d-flex justify-content-center align-items-center">
						<img class="mt-3" src="/concursos_assets/mosaico_natura/premios-1o.png" alt="primer lugar">
						<img class="mt-3" src="/concursos_assets/mosaico_natura/bases_tema_libre.png" alt="tema libre">
						<h5 class="card-title mt-4">Premios por cada tema</h5>
						<h5>Categoría adultos</h5>
						<div class="card-body text-center">
							<p class="card-text">$30,000  pesos en efectivo</p>
						</div>
					</div>
					<div class="card alert-secondary d-flex justify-content-center align-items-center">
						<img class="mt-3" src="/concursos_assets/mosaico_natura/premios-2o.png" alt="segundo lugar">
						<img class="mt-3" src="/concursos_assets/mosaico_natura/bases_tema_libre.png" alt="tema libre">
						<h5 class="card-title mt-4">Premios por cada tema</h5>
						<h5>Categoría adultos</h5>
						<div class="card-body text-center">
							<p class="card-text">$25,000 pesos en efectivo</p>
						</div>
					</div>
				</div>
				<div class="card-group text-center mt-4">
					<div class="card alert-secondary d-flex justify-content-center align-items-center">
						<img class="mt-3" src="/concursos_assets/mosaico_natura/premios-1o.png" alt="primer lugar">
						<img class="mt-3" src="/concursos_assets/mosaico_natura/bases_tema_libre.png" alt="tema libre">
						<h5 class="card-title mt-4">Premio tema libre</h5>
						<h5>Categoría jóvenes</h5>
						<div class="card-body text-center">
							<p class="card-text">$20,000  pesos en efectivo</p>
						</div>
					</div>
					<div class="card bg-light d-flex justify-content-center align-items-center">
						<img class="mt-3" src="/concursos_assets/mosaico_natura/premios-2o.png" alt="segundo lugar">
						<img class="mt-3" src="/concursos_assets/mosaico_natura/bases_tema_libre.png" alt="tema libre">
						<h5 class="card-title mt-4">Premio tema libre</h5>
						<h5>Categoría jóvenes</h5>
						<div class="card-body text-center">
							<p class="card-text">$15,000 pesos en efectivo</p>
						</div>
					</div>
				</div>
				<h4 class="mt-3">PRIVACIDAD Y PROTECCIÓN DE INFORMACIÓN</h4>
				<p>El “Comité Organizador” manifiesta que cuenta con las medidas necesarias para proteger la información y los datos personales que sean proporcionados por los participantes.</p>
			</div>
		</div>
	</div>
</div>



