# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: llaveBienComplicada
  entre_azul_y_verde:
    dgcc:
      usuario: usuarioGenerico
      password: passwordBienDificil
      posicion: 3
    juez1:
      usuario: usuarioGenerico1
      password: passwordBienDificil1
      posicion: 0
    juez2:
      usuario: usuarioGenerico2
      password: passwordBienDificil2
      posicion: 1
    juez3:
      usuario: usuarioGenerico3
      password: passwordBienDificil3
      posicion: 2
  mosaico_natura:
    dgcc:
      usuario: usuarioGenericoB
      password: passwordBienDificilB
      posicion: 4
    juez_foto_1:
      usuario: usuarioGenericoB1
      password: passwordBienDificilB1
      posicion: 0
    juez_foto_2:
      usuario: usuarioGenericoB2
      password: passwordBienDificilB2
      posicion: 1
    juez_foto_3:
      usuario: usuarioGenericoB3
      password: passwordBienDificilB3
      posicion: 2
    juez_foto_4:
      usuario: usuarioGenericoB4
      password: passwordBienDificilB4
      posicion: 3
    juez_video_1:
      usuario: usuarioGenericoC1
      password: passwordBienDificilC1
      posicion: 0
    juez_video_2:
      usuario: usuarioGenericoC2
      password: passwordBienDificilC2
      posicion: 1
test:
  secret_key_base: llaveBienComplicadaPorDos

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  usuario_calificacion: usuarioGenerico3
  password_calificacion: passwordBienDificil3
