body{}
.dropdown-menu{right: 0; left: unset!important;}

#intro{
  /*background-image: url();*/
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-color: #000a1e;
}

/* ¿Quiénes somos?*/
#quienesSomos .sub-header{
  background-image: url('/concursos_assets/mosaico_natura/bg-quienesSomos.jpg');
}

/* Concurso */
#concurso .sub-header{
  background-image: url('/concursos_assets/mosaico_natura/bg-concurso.jpg');
}

/* Exposiciones */
#exposiciones .sub-header{
  background-image: url('/concursos_assets/mosaico_natura/bg-exposiciones.jpg');
}

/* Medios */
#medios .sub-header{
  background-image: url('/concursos_assets/mosaico_natura/bg-medios.jpg');
}

/* Términos y conidciones */
#terminos-condiciones .sub-header{
  background-image: url('/concursos_assets/mosaico_natura/bg-legales.jpg');
}

/* Galería de ganadores */
#galeria-ganadores .sub-header{
  background-image: url('/concursos_assets/mosaico_natura/ganadores.jpg');
}

/* Galería de menciones honoríficas */
#galeria-menciones .sub-header{
  background-image: url('/concursos_assets/mosaico_natura/menciones.jpg');
}

/* Background de subheaders */
#quienesSomos .sub-header, #concurso .sub-header, #exposiciones .sub-header, #medios .sub-header, #terminos-condiciones .sub-header, #galeria-ganadores .sub-header, #galeria-menciones .sub-header{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  padding: 60px 0;
  margin:0;
  text-shadow: 2px 2px 5px #000;
}

/* Colaboradores */
#colaboradores{background-color: #2d2c27;}
#colaboradores .sub-header{
  padding: 60px 0;
  margin:0;
}

/* Inscripcion */
#inscripcion{
  font-family: 'Montserrat Alternates';
}
#inscripcion div[class*="nested-fields-for-"]{
  min-height: 600px;
}
#inscripcion .bg-gradient-light{
  box-shadow: 0 1rem 3rem rgb(0, 0, 0,)!important;
}
footer #copyright p{
  font-size:12px;
  line-height:1;
  margin:0;
  color: gray;
  padding: 15px;
}

#imgmosaicosomos {
  vertical-align: baseline;
}

.conabio {
  font-variant: small-caps;
}

.bg-dark {
  background-color: #2d2c27 !important;
}

footer ul {
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  line-height: 1.15;
}

footer a {
  color: #fff !important;
}

footer a:hover {
  color: #ffc107 !important;
}
